.contenedor {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  grid-template-rows: 100px 200px 100px;
  grid-template-columns: 100px 250px 150px;
  place-content: center;
  grid-template-areas: "header header header"
                       "main main section"
                       "footer footer footer";
  
}

.item {
  border: 5px solid #00bcd4;
  font-size: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item-1 {
grid-area: header;
background-color: green;
}

.item-2 {
grid-area: main;
background-color: blue;
}

.item-3 {
grid-area: section;
background-color: yellow;
}

.item-4 {
grid-area: footer;
background-color: orange;

}
